<div class="container">
  <h1>Company list</h1>
  <mat-form-field class="input">
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
  </mat-form-field>
  <table mat-table [dataSource]="dataSource" matSort class="table mat-elevation-z8">

      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> id </th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
      </ng-container>
    
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let element"> {{element.companyName}} </td>
      </ng-container>
    
      <ng-container matColumnDef="federalId">
        <th mat-header-cell *matHeaderCellDef> Federal Id </th>
        <td mat-cell *matCellDef="let element"> {{element.federalId}} </td>
      </ng-container>

      <ng-container matColumnDef="naic">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Naic </th>
        <td mat-cell *matCellDef="let element"> {{element.naic}} </td>
      </ng-container>
    
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    
</div>

